@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color1: #d16698;
    --color2: #f5d287;

    --Colo1-rgb: 248, 248, 236;
    --Colo2-rgb: 248, 248, 236;

    --Secciones-Color: #ffffff;

    --Menu-Desplegable-Color: #ffffff;

    --Buscar-Color-Borde: #075563b4;

    --Texto-Color: #000000b4;
    --Texto-Categorias-Hover: #075563b4;
    --Efecto-Categorias: #075563b4;

    --Total-Icono-Carrito: #ffff;
    --Icono-Carrito: #075563b4;
    --Icono-Carrito-Hover: #219626;

    --Planta-Color: #000000b4;

    --Separador-Color: #000000b4;
    --Separador-Color-Hover: #075563b4;
    --Separador-Lineas: #075563b4;

    --Tarjeta-Color: #ffffff;
    --Degradado-Color-1: var(--color1);
    --Degradado-Color-2: var(--color2);
    --Corazon-Color: #d26698;
    --Transparente: #da0d0d00;
    --Transparente2: #0000009f;

    --Scrollbar-Color: #f4d186;
    --Scrollbar-thumb-Color: #d266999d;

    /* --Scrollbar-Color: #6a70e499;
    --Scrollbar-thumb-Color: #6b97decc; */
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@media (preferes-color-scheme: light) {
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
    }
}

body {
    background: linear-gradient(
        90deg,
        rgba(var(--Colo1-rgb)) 5%,
        rgba(var(--Colo2-rgb)) 50%
    );
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 10px;
    background: var(--Scrollbar-Color);
}

body::-webkit-scrollbar-thumb {
    background: var(--Scrollbar-thumb-Color);
    border-radius: 5px;
}

body.menu-open {
    overflow: hidden;
}

#ScrollMenu::-webkit-scrollbar {
    width: 0rem;
    background: transparent;
}

#ScrollMenu::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

#ScrollProducto::-webkit-scrollbar {
    width: 10px;
    background: #6a70e499;
}

#ScrollProducto::-webkit-scrollbar-thumb {
    background: #6b97decc;
    border-radius: 5px;
}

/* #ScrollMenu:hover::-webkit-scrollbar-thumb{
  background: rgba(115, 125, 128, 0.76);
} */
/* #ScrollMenu:hover::-webkit-scrollbar{
  width: 10px;
} */

/* Plantas */
.icon-1 {
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));

    z-index: 101;

    fill: var(--Planta-Color);
}
@keyframes slay-1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
.icon-2 {
    position: absolute;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    z-index: 102;
    fill: var(--Planta-Color);
}
@keyframes slay-2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0);
    }
}
.icon-3 {
    position: absolute;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    z-index: 103;
    fill: var(--Planta-Color);
}
@keyframes slay-3 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0);
    }
}

/* Tarjeta Login / Register */

.contenedor-login {
    height: 100vh;
    background: linear-gradient(
            90deg,
            rgba(209, 102, 152, 0.5) 5%,
            rgba(245, 210, 135, 0.5) 50%
        ),
        url('/assets/fondo4.png') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-inner {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
    transform: rotateY(180deg);
}
.card-inner2 {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
    transform: rotateY(0deg);
}
.card-front,
.card-back {
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

.animacion-alerta-Open {
    animation: blur-in-expand 0.5s linear both;
}
@keyframes blur-in-expand {
    0% {
        transform: scale(0);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        filter: blur(0);
        opacity: 1;
    }
}

/* Menu */

.Grilla-nav {
    height: 100vh;
    display: grid;
    grid-template-rows: 7% calc(93% - 20px);

    /* align-content: space-between; */
}

.Contenedor-Menu-Vertical {
    display: grid;
    grid-template-columns: 100%;
    gap: 0.5rem;
    padding: 0.5rem 0rem;
}

@media (min-width: 1024px) {
    .Contenedor-Menu-Vertical {
        display: grid;
        grid-template-columns: 20% auto;
    }
}

.Grilla_Tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 10px;
}

/* boton */
.button {
    font-size: 18px;
    color: var(--Texto-Color);
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.button:focus,
.button:hover {
    color: var(--Texto-Categorias-Hover);
}

.button:focus:after,
.button:hover:after {
    width: 100%;
    left: 0%;
}

.button:after {
    content: '';
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--Efecto-Categorias);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* Boton Carrito */

.btn-cart {
    /* display: flex;
  align-items: center;
  justify-content: center; */
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
}

.btn-cart::after {
    content: attr(data-quantity);
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: var(--Total-Icono-Carrito);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
    top: 0%;
}

.icon-cart {
    width: 24.38px;
    height: 30.52px;
    transition: 0.2s linear;
}

.icon-cart path {
    fill: var(--Icono-Carrito);
    transition: 0.2s linear;
}

.btn-cart:hover > .icon-cart {
    transform: scale(1.2);
}

.btn-cart:hover > .icon-cart path {
    fill: var(--Icono-Carrito-Hover);
}

.btn-cart:hover::after {
    visibility: visible;
    opacity: 1;
    top: 40%;
}

.quantity {
    display: none;
}

/* Separador */

.separador {
    display: flex;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 800;
    color: var(--Separador-Color);

    width: 100%;
}

.separador::before,
.separador::after {
    flex-grow: 1;
    height: 4px;
    content: '\a0';
    background-color: var(--Separador-Lineas);
    position: relative;
}

.separador:hover {
    color: var(--Separador-Color-Hover);
}

.saltar:hover {
    animation: jello-horizontal 0.9s linear both;
    opacity: 1;
}
@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.vibrar:hover {
    cursor: pointer;
    animation: vibrate 0.4s linear both;
}
@keyframes vibrate {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

/* Card productos */

.card-productos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_box {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    background-color: var(--Tarjeta-Color);
    position: relative;
}

.Degradado {
    background: linear-gradient(
        90deg,
        var(--Degradado-Color-1) 0%,
        var(--Degradado-Color-2) 100%
    );
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.gradiente-borde {
    background: linear-gradient(
        90deg,
        var(--Degradado-Color-1) 0%,
        var(--Degradado-Color-2) 100%
    );
}

/* Corazon */

.heart-container {
    --heart-color: var(--Corazon-Color);
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.3s;
}

.heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
    fill: var(--heart-color);
    position: absolute;
}

.heart-container .svg-filled {
    animation: keyframes-svg-filled 1s;
    display: none;
}

.heart-container .svg-celebrate {
    position: absolute;
    animation: keyframes-svg-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
    stroke: var(--heart-color);
    fill: var(--heart-color);
    stroke-width: 2px;
}

.heart-container .checkbox:checked ~ .svg-container .svg-filled {
    display: block;
}

.heart-container .checkbox:checked ~ .svg-container .svg-celebrate {
    display: block;
}

@keyframes keyframes-svg-filled {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
        filter: brightness(1.5);
    }
}

@keyframes keyframes-svg-celebrate {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
        filter: brightness(1.5);
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
        display: none;
    }
}

/* Producto */
.contenedor-Producto {
    height: 90%;
    width: 90%;
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 60% 40%;

    align-items: center;
}

@media (max-width: 1024px) {
    .contenedor-Producto {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;

        align-items: center;
    }
}

.tamano {
    flex: 1 0 auto;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

/* Todos los swiper-slide */
.swiper-slide {
    /* background: red; */
}

/* Carrusel */
.contenedor-Carrusel {
    display: grid;
    grid-template-columns: 30% 70%;
    place-content: center;
}

@media (max-width: 1024px) {
    .contenedor-Carrusel {
        display: grid;
        grid-template-columns: 100%;
    }
}

.mySwiperCarrusel .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mySwiperCarrusel .swiper-pagination {
    --swiper-pagination-color: var(--Buscar-Color-Borde);
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagination-bullet-opacity: 0.8;
    --swiper-pagination-bullet-horizontal-gap: 2px;
}
.mySwiperCarrusel .swiper-button-prev,
.mySwiperCarrusel .swiper-button-next {
    --swiper-navigation-size: 40px;
    --swiper-theme-color: var(--Buscar-Color-Borde);
}
.mySwiperCarrusel .swiper-scrollbar {
    /* --swiper-scrollbar-bg-color: var(--color1); */
    --swiper-scrollbar-drag-bg-color: var(--Buscar-Color-Borde);
}

/* Tarjetas */
.mySwiperTarjetas .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mySwiperTarjetas .swiper-pagination {
    --swiper-pagination-color: var(--color2);
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagination-bullet-opacity: 0.8;
    --swiper-pagination-bullet-horizontal-gap: 2px;
}
.mySwiperTarjetas .swiper-button-prev,
.mySwiperTarjetas .swiper-button-next {
    --swiper-navigation-size: 40px;
    --swiper-theme-color: var(--Buscar-Color-Borde);
}
/* Productos */
.mySwiperProducto .swiper-slide {
    opacity: 0.6;
    /* height: 200px; */
}
.mySwiperProducto .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: contain;
}
.mySwiperProducto .swiper-slide-thumb-active {
    opacity: 1;
}

.mySwiperProducto .swiper-button-prev,
.mySwiperProducto .swiper-button-next {
    --swiper-navigation-size: 40px;
    --swiper-theme-color: var(--Buscar-Color-Borde);
}
/* Visor de imagen */
.mySwiperVisor .swiper-slide img {
    /* height: 100%; */
    object-fit: contain;
}
.mySwiperVisor .swiper-button-prev,
#zoom {
    background: var(--Transparente);
}

#zoom > img {
    object-fit: cover;
}

/* Footer */
.footer {
    background: linear-gradient(90deg, #d2669962 5%, #f5d28762 50%),
        url('/assets/fondo4.png') no-repeat center;
    background-size: cover;
}

/* Spinner */

.loader {
    width: 80px;
    height: 50px;
    position: relative;
}

.loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: black;
    animation: text_713 3.5s ease both infinite;
    font-size: 1rem;
    letter-spacing: 1px;
}
/* #3b83f6d5 0%, #6365f1d7 100%); */
.load {
    background-color: #4b4ee0;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
}

.load::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #6365f1d7;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
    0% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }

    40% {
        letter-spacing: 2px;
        transform: translateX(26px);
    }

    80% {
        letter-spacing: 1px;
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        transform: translateX(0px);
    }

    100% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }
}

@keyframes loading_713 {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}

@keyframes loading2_713 {
    0% {
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
        width: 16px;
    }
}
